# It's not recommended to modify this file in-place, because it will be
# overwritten during package upgrades.  If you want to customize, the best
# way is to create a file "/etc/systemd/system/darkhttpd.service",
# containing
#   .include /lib/systemd/system/darkhttpd.service
#   ...make your changes here...
# For more info about custom unit files, see
# http://fedoraproject.org/wiki/Systemd#How_do_I_customize_a_unit_file.2F_add_a_custom_unit_file.3F

# For example, to pass additional options to the
# darkhttpd binary at startup, you need to create a file named
# "/etc/systemd/system/darkhttpd.service" containing:
#	.include /lib/systemd/system/darkhttpd.service
#	[Service]
#	Environment=OPTIONS=-DMY_DEFINE

[Unit]
Description=Darkhttpd Web Server
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/darkhttpd
ExecStart=/usr/sbin/darkhttpd $DARKHTTPD_ROOT --daemon $DARKHTTPD_FLAGS $MIMETYPES
Type=forking

[Install]
WantedBy=multi-user.target
